.userAgent_img{
    width:25px;
    height:25px;
}
.scroll_help{
    ::-webkit-scrollbar{width: 5px; }
::-webkit-scrollbar-track {background-color:none;}
::-webkit-scrollbar-thumb {background-color:white; border-radius: 15px;}
::-webkit-scrollbar-thumb:hover {background: white;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:5px;height:5px;background:none;} 
    
}

.userInfo_bold .cl-text{
    color:#6b6b6b;
    font-weight:700;
    font-size:14px;
}
.userInfo_text .cl-text{
    color:#6b6b6b;
    font-weight:300;
    font-size:14px;
}