/* do not group these rules */
*::-webkit-input-placeholder {
    color: #848484;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #848484;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #848484;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #848484;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #848484;
}
*::placeholder {
    /* modern browser */
    color: #848484;
}