.element { overscroll-behavior: contain; }

#LOGIN_ipbUserID::placeholder{
	color: #ffffff;
	font-size:16px;
	font-weight:700;
}
#LOGIN_ipbUserID::-webkit-input-placeholder{
	color: #ffffff;
	font-size:16px;
	font-weight:700;
}
#LOGIN_ipbUserID:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #ffffff;
   font-size:16px;
	font-weight:700;
   opacity:  1;
}
#LOGIN_ipbUserID::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #ffffff;
   font-size:16px;
	font-weight:700;
   opacity:  1;
}
#LOGIN_ipbUserID:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #ffffff;
   font-size:16px;
	font-weight:700;
}

#LOGIN_ipbUserPW::placeholder{
	color: #ffffff;
	font-size:16px;
	font-weight:700;
}
#LOGIN_ipbUserPW::-webkit-input-placeholder{
	color: #ffffff;
	font-size:16px;
	font-weight:700;
}
#LOGIN_ipbUserPW:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #ffffff;
   font-size:16px;
	font-weight:700;
   opacity:  1;
}
#LOGIN_ipbUserPW::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #ffffff;
   font-size:16px;
	font-weight:700;
   opacity:  1;
}
#LOGIN_ipbUserPW:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #ffffff;
   font-size:16px;
	font-weight:700;
}

